html {
  position: relative;
}
body {
  margin: 0px
}
.bg {
  background: url(../assets/lipton_bg_01.jpg);
  background-size: 100%;
  overflow: hidden;
}
.full-img {
  width: 100%
}
.text-center {
  text-align: center
}
.slogan {
  width: 100%;
  position: relative;
  top: 120px;
}
.animated-infinite {
  animation-iteration-count: infinite;
  animation-duration: 1.5s !important;
}
.btn-tea {
  width: 55%;
}
.curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.35);
  z-index: -1;
}
.main-block {
  width: 100%;
  position: relative;
}
.check-btn {
  position: absolute;
  width: 7%;
  min-height: 25px;
}
.hidden {
  display: none;
}
.return {
  position: absolute;
  width: 11.5%;
  top: 13%;
  right: 6%;
}
.block {
  display: block;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
}
.t1 {
  color: #ed5e37;
  font-size: 28px;
  font-weight: bold;
}
.t2 {
  color: #ed5e37;
  font-size: 16px;
  font-weight: bold;
}
.t3 {
  color: #70982c;
  font-size: 30px;
  margin-top: 5%;
}
.t4 {
  position: absolute;
  top: 41%;
  width: 44%;
  left: 26%;
}
.t5 {
  position: absolute;
  color: #ed5e37;
  font-weight: bold;
  top: 74%;
  width: 83%;
  left: 8.5%;
  font-size: 21px;
  text-align: center;
}